.light{
    background-color: white ;
}


.dark,
.dark body { 
        background-color: #050505 ;
}


.dark .deneb_footer .widget_wrapper{
    background-color: #050505;
}
.dark h1,
.dark tr,
.dark th,
.dark li,
.dark h2,
.dark h4,
.dark p,
.dark a,
.dark header,
.dark li .css-165lrpn-MuiButtonBase-root-MuiPaginationItem-root,
.dark .blog_current_title,
.dark h5,
.dark h6,
.dark h4,
.dark .MuiPaginationItem-page,
.dark .MuiPagination-ul li button
{
    color: white !important;
}

.dark .css-165lrpn-MuiButtonBase-root-MuiPaginationItem-root {
  
    -webkit-tap-highlight-color: transparent;
    background-color: transparent !important;
  
    color: white !important;


}

.dark .banner_text .hero_p
{
    color: white;
    background: transparent;
    -webkit-text-fill-color: unset;
}

.dark .dropdown-menu{
    background-color: #000000 !important;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);}

.dark li .css-165lrpn-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #9c27b0 !important;
  
}
.dark .modal-fullscreen .modal-content{
    background-color: #000000;
}
.dark .coin_id_market_details p,
.dark p,
.dark button,
.dark body,
.dark th,
.dark h5,
.dark h6,
.dark h4,
.dark h1 
{
    font-weight: normal !important;
}

.dark .purple_btn_normal_outlined a{
    color: white !important;
    font-weight: 400;
}

.dark .count_up h1 span,
.dark .offcanvas-title {
    color: white !important;
}
.dark .offcanvas {
    background-color: #050505 !important;
    outline: 0;
    transition: transform 0.3s ease-in-out;
}



.dark span,
.dark .authors_job_description {
    color: rgb(180, 180, 180) ;
}
.dark .stack_pagenation svg {
    fill: #c00569 !important;
}
.dark .navbar-toggler-icon{
     filter: invert(100%); 

}

/* .dark button,
.dark button:hover,
.dark button:active,
.dark button:focus, */
.dark .navbar-light .navbar-toggler,
.dark .navbar-toggler ,
.dark .navbar-toggler :hover,
.dark .navbar-toggler :active,
.dark .navbar-toggler :focus,
.dark .navbar-toggler ::after,
.dark .navbar-toggler ::before    {
    border-width: 0 !important;

  outline: none !important;
}

.dark .Converter input{
    color: white;
}

.dark .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #fff;
    background-color: white;
    border: 0;
    border-radius: 0.375rem;
    opacity: 1;
}

.dark .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0) !important;
    margin-right: 0.2em;
    border-color: rgba(255, 255, 255, 0.97) !important;
    border-color: rgba(255, 255, 255, 0.69) !important;
}
.dark .navbar-light .navbar-toggler {
    border: none;
    border-color: transparent !important;
    outline: none !important;
}
.navbar-toggler :focus, .navbar-toggler ::after {
    border: none;
    outline: none;
}


.css-165lrpn-MuiButtonBase-root-MuiPaginationItem-root {
    border: 1px solid rgba(255, 255, 255, 0.23);}

/* .dark tbody, */
/* .dark tfoot, */
 .dark tr
 /* .dark td,  */
 /* .dark th */
 
 {
    border: 1px solid rgba(255, 255, 255, 0.087) !important;
border-top-color: #00000021;
    border-right-color: transparent;
    border-bottom-color: #00000021;
    border-left-color: transparent;
    border-style: solid;
    border-top-width: 1px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}

.dark .nav-link {
color: white !important;
}

.dark .active{
color: #c00569 !important;
}


.dark .green,
.dark .green_id,
.dark .green_id .bi,
.dark .green_id_change {
    color: green !important;
}
.dark .red,
.dark .red_id_change,
.dark .red_id {
    color: red !important;
}

.dark .post_body {
    padding: 0 !important;
    box-shadow: 0px 0px 28px 6px #bfbfbf1a;
}

.dark .news_boxs {
  padding: 0 !important;
  margin: 1.5em 0 !important;
  border-radius: 1em !important;
  -webkit-box-shadow: 2px 2px 26px -3px #6565653d;
  -moz-box-shadow: 2px 2px 26px -3px #6565653d;
  box-shadow: 2px 2px 26px -3px #6565653d;
}

.dark .overview{
  padding-top: 1em;
  padding-bottom: 1em;
    background-color: #000000;
    background-image: 
        radial-gradient(at 47% 33%, #050005 0, transparent 59%), 
        radial-gradient(at 82% 65%, #0f000a 0, transparent 55%);
}

.dark .coin_description{
    color: white;
}

.dark .Description header {
  font-size: 2em;
  color: #c00569 !important;
}

.dark .tickers .tickers_tr .tickers_Exchange,
.dark .tickers .tickers_tr .tickers_Id,
.dark .tickers .tickers_tr .tickers_Pair,
.dark .tickers .tickers_tr .tickers_Price,
.dark .tickers .tickers_tr .tickers_Volume,

.dark .tickers .tickers_tr .tickers_Url {
  color: rgb(240, 240, 240) ;
}
.dark .auth_page {
    background-color: #000000;
    background-size: cover;
    background-image: 
        radial-gradient(at 47% 33%, rgba(181, 23, 115, 0.181) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(307.08, 94%, 7.000000000000001%) 0, transparent 55%);



    }

.dark .Profile_Auth_Info{
    color: white;
}
.dark input:disabled {
    cursor: default;
    background-color:  #0905059e !important ;
    border-color: rgba(15, 9, 9, 0.3);
    color: white !important;
}
.dark .auth_input,
.dark .auth_label {
    color: white !important;
}

.coin_name_widget, .coin_name_widget a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0 none;
}
